[Unit]
Description=Promtail Logging Service
After=network.target

[Service]
WorkingDirectory=/etc/promtail
ExecStart=/etc/promtail/promtail-linux-arm -config.file /etc/promtail/promtail-config.yaml -config.expand-env=true
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=300

[Install]
WantedBy=multi-user.target