[Unit]
Description=Promtail Logging Service
After=network.target

[Service]
WorkingDirectory=/etc/promtail
ExecStart=promtail-linux-arm -config.file config.yaml
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=300

[Install]
WantedBy=multi-user.target