[Unit]
Description=Weathervane Service
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
WorkingDirectory=/home/pi/weathervane
ExecStart=python3 main.py
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=300
EnvironmentFile=/home/pi/weathervane/sentry.conf

[Install]
WantedBy=multi-user.target