[Unit]
Description=Weathervane Service

[Service]
WorkingDirectory=/home/pi/weathervane
ExecStart=python3 main.py
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=300

[Install]
WantedBy=multi-user.target